* {
    font-family: sans-serif;
    color: rgb(150, 251, 255);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

body {
    background-color: cadetblue;
}

h1 {
    color: rgb(48, 79, 80);
    font-size: 60px;
    margin: 0;
    margin-top: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(150, 251, 255);
}

h2 {
    font-style: italic;
    font-weight: 500;
}

img {
    width: 600px;
    border-radius: 20px;
    border: 1px rgb(150, 251, 255) solid;
    cursor: pointer;
}

button{
    background-color: rgb(48, 79, 80);
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px rgb(150, 251, 255) solid;
    border-radius: 20px;
    font-size: larger;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    color:  rgb(48, 79, 80);
}

a:hover {
    color: pink;
}

a:visited {
    color: pink;
}

.oreopic {
    position: relative;
}

.orepic p {
    position: absolute;
    bottom: 0;
    left: 0;
}

ul {
    width: 98vw;
    height: 300px;
    padding: 20px;
    display: flex;
    gap: 4vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

li {
    list-style-type: none;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    padding: 20px;
    scroll-snap-align: center;
    flex: 0 0 50%;
    margin-left: 25%;
    margin-right: 25%;
}

